.container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.main {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding: 20px;
  background-color: #f2f2f2;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #f2f2f2;
}