@import '@styles/breakpoints';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 0;
  background-color: #1f2937;
  align-items: center;

  @media (min-width: $large) {
    flex-direction: row;
  }
}

.navbarElement {
  margin-left: 2rem;
  color: rgb(209, 213, 219);
}