$primary-color: #1ea7fd;
$secondary-color: white;
$success-color: green;
$error-color: red;

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  successColor: $success-color;
  errorColor: $error-color;
}
