@import '@/styles/colors';

.primary {
  color: $primary-color;
}

.secondary {
  color: $secondary-color;
}

.success {
  color: $success-color;
}

.error {
  color: $error-color;
}

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  successColor: $success-color;
  errorColor: $error-color;
}
